In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("recipes2.xlsx",engine="openpyxl")

In [3]:
df

,food_item,ingredients,no_of_servings,calories,protein,fats,carbohydrates
0,millet dosa,"barnyard millet: 1.75,urad dal: 0.875,methi se...",20.0,129.956250,4.300000,2.875,20.675000
1,coriander chutney,"raw chana dal: 1.0,olive oil: 3.0,peanuts: 2.0...",6.0,68.916667,6.750000,3.500,2.416667
2,half yolk egg,"egg white: 1.0,egg yolk: 0.5",1.0,46.000000,4.000000,2.000,0.000000
3,roti,multigrain atta: 2.25,9.0,97.500000,3.500000,0.500,18.000000
4,moong dal khichdi,"barnyard millet: 0.2 cup,yellow moong dal: 0.1...",1.0,396.530000,15.050000,11.630,49.450000
...,...,...,...,...,...,...,...
109,capsicum besan sabji,"green capsicum: 1.0,besan: 0.33 cup,olive oil:...",1.0,263.480000,19.180000,9.980,25.240000
110,moong dal fry,"yellow moong dal: 0.25 cup,olive oil: 1.0 tsp,...",1.0,171.750000,17.000000,4.250,16.250000
111,spring mix tomato salad with mustard vinaegrette,"spring mix: 2.0 cup,cherry tomato: 15.0,dijon ...",2.0,102.300000,0.000000,6.000,1.200000
112,fada ni khichdi,"cracked wheat: 0.7 cup,yellow moong dal: 0.125...",3.0,235.625000,7.041667,6.375,31.066667
113,berry smoothie with oat milk,"blueberry: 0.25 box,strawberry: 6.0,sweetened ...",2.0,188.875000,2.375000,3.250,37.000000

In [5]:
df.drop(df.index[0], inplace=True)

In [6]:
df

,food_item,ingredients,no_of_servings,calories,protein,fats,carbohydrates
2,half yolk egg,"egg white: 1.0,egg yolk: 0.5",1.0,46.000,4.000000,2.000,0.000000
3,roti,multigrain atta: 2.25,9.0,97.500,3.500000,0.500,18.000000
4,moong dal khichdi,"barnyard millet: 0.2 cup,yellow moong dal: 0.1...",1.0,396.530,15.050000,11.630,49.450000
5,berry banana smoothie,"banana: 1.0,berries: 1.5,spinach: 1.0,date: 7....",2.0,246.500,5.700000,1.700,52.100000
6,mocha,"oat milk: 0.67,sugar: 3.0,cocoa: 0.67",2.0,66.050,1.340000,1.675,28.865000
...,...,...,...,...,...,...,...
109,capsicum besan sabji,"green capsicum: 1.0,besan: 0.33 cup,olive oil:...",1.0,263.480,19.180000,9.980,25.240000
110,moong dal fry,"yellow moong dal: 0.25 cup,olive oil: 1.0 tsp,...",1.0,171.750,17.000000,4.250,16.250000
111,spring mix tomato salad with mustard vinaegrette,"spring mix: 2.0 cup,cherry tomato: 15.0,dijon ...",2.0,102.300,0.000000,6.000,1.200000
112,fada ni khichdi,"cracked wheat: 0.7 cup,yellow moong dal: 0.125...",3.0,235.625,7.041667,6.375,31.066667
113,berry smoothie with oat milk,"blueberry: 0.25 box,strawberry: 6.0,sweetened ...",2.0,188.875,2.375000,3.250,37.000000